:root {
    --text-shadow-size: 1px;
    --text-shadow-size-neg: -1px;
    --text-shadow-blur: 2px;
    --text-shadow-blur-big: 10px;
    --text-shadow-color: #000000;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
}

* {
    font-family: 'Bebas Neue';
    letter-spacing: 1.2px;
}

body {
    background-image: url('img/cherry-coke-diamonds.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    font-size: 0.69em;
    color: rgba(255, 255, 255, 0.6);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}

footer a:link, footer a:visited {
    color: rgba(255, 255, 255, 0.6);
    text-decoration-style: solid;
}

footer a:active, footer a:hover {
    color: #000000;
    text-decoration: none;
}

h1 {
    color: #FFF;
    font-size: 4.0em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#bio {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2em;
    text-align: center;
}

#profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 300px;
    border: 10px solid #000000;
}

#pfp-carousel {
    margin-left: auto;
    margin-right: auto;
    width: 594px;
    height: 388px;
    border: 0px solid yellow;
    position: relative;
}

#pfp-carousel-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#pfp-carousel-center {
    position: absolute;
    left: 144px;
    top: 49px;
    width: 315px;
    height: 315px;
    z-index: 1;
    border: 0px solid blue;
    clip-path: polygon(6% 0%, 94% 0%, 100% 6%, 100% 94%, 94% 100%, 6% 100%, 0% 94%, 0% 6%);
}

#pfp-carousel-center img {
    max-width: 314px;
    max-height: 314px;
}

#pfp-carousel-left, #pfp-carousel-right {
    position: absolute;
    width: 254px;
    height: 254px;
    top: 79px;
    z-index: 0;
    clip-path: polygon(8% 0%, 92% 0%, 100% 8%, 100% 92%, 94% 100%, 8% 100%, 0% 92%, 0% 8%);
}

#pfp-carousel-left {
    left: 48px;
}

#pfp-carousel-right {
    right: 40px;
}

#pfp-carousel-left img, #pfp-carousel-right img {
    max-height: 254px;
}

.horizontal-flip {
    transform: scaleX(-1);
}

.links-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 560px;
    overflow: hidden;
}

.links-box img {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 119px;
}

.links-header {
    color: #FFFFFF;
    background-color: #000000;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
}

.red {
    color: rgba(202, 10, 10, 0.6);
}

.rounded {
    border-radius: 50%;
}

.smallcaps {
    font-variant: small-caps;
}

.text-shadow {
    text-shadow:
        var(--text-shadow-size-neg) var(--text-shadow-size-neg) var(--text-shadow-blur) var(--text-shadow-color),
        0 var(--text-shadow-size-neg) var(--text-shadow-blur) var(--text-shadow-color),
        var(--text-shadow-size) var(--text-shadow-size-neg) var(--text-shadow-blur) var(--text-shadow-color),
        var(--text-shadow-size) 0 var(--text-shadow-blur) var(--text-shadow-color),
        var(--text-shadow-size) var(--text-shadow-size) var(--text-shadow-blur) var(--text-shadow-color),
        0 var(--text-shadow-size) var(--text-shadow-blur) var(--text-shadow-color),
        var(--text-shadow-size-neg) var(--text-shadow-size) var(--text-shadow-blur) var(--text-shadow-color),
        var(--text-shadow-size-neg) 0 var(--text-shadow-blur) var(--text-shadow-color);
}

.text-shadow-big {
    text-shadow:
        var(--text-shadow-size-neg) var(--text-shadow-size-neg) var(--text-shadow-blur-big) var(--text-shadow-color),
        0 var(--text-shadow-size-neg) var(--text-shadow-blur-big) var(--text-shadow-color),
        var(--text-shadow-size) var(--text-shadow-size-neg) var(--text-shadow-blur-big) var(--text-shadow-color),
        var(--text-shadow-size) 0 var(--text-shadow-blur-big) var(--text-shadow-color),
        var(--text-shadow-size) var(--text-shadow-size) var(--text-shadow-blur-big) var(--text-shadow-color),
        0 var(--text-shadow-size) var(--text-shadow-blur-big) var(--text-shadow-color),
        var(--text-shadow-size-neg) var(--text-shadow-size) var(--text-shadow-blur-big) var(--text-shadow-color),
        var(--text-shadow-size-neg) 0 var(--text-shadow-blur-big) var(--text-shadow-color);
}
